
<div class="header">
<h1>Crafty Cart</h1>
</div>


<div class="visibilityMain">
  <div class="containMain">
  <h1>Welcome to Crafty Cart!</h1>
</div>
  <article class="about">We are a full service marketplace that connects you with a catalog of
  unique goods from around the world! To get started, just click on our 'Listings'
  link at the top of the page. From there, you can search by keyword to find
  exactly what you're looking for! Interested in buying an item? Just click 'Add to Cart'
   and it will be added to your personal cart. Happy Shopping!</article>
  <cite>- The Crafty Cart Team</cite>



</div>
