
<article class="mainPageArticles" data-id="{{listing.id}}">
  <div class="contain">

<div class="rightSide">
  <a href="#/listing/{{listing.id}}"><img class="listingImg" ng-src="{{listing.img.url_170x135}}" alt="" /></a>
</div>
<div class="leftSide">
<a class="listTitle" href="#/listing/{{listing.id}}"><h3 class="title">{{listing.title}}</h3></a>
<h5>${{listing.price}} {{listing.currency}}</h5><br>
<button><a class="listingLinks" href="{{listing.url}}">View on Etsy</a></button>

<button><a class="listingLinks" href="" ng-click="action()">Add to Cart</a></button>
</div>
</div>
</article>
