<div class="header">
  <div class="containSearch"><p class="search">Keyword:</p><form ng-submit="newKeyword(keyword)"><input type="text" ng-model="keyword.val" name="name" val="" placeholder="Enter a keyword" size="40"></form></div>
  <div class="containSearch"><p class="search">Search:</p><input type="text" ng-model="search.title" name="name" val="" placeholder="Search within current document" size="40"></div>
<h1>Crafty Cart</h1>
</div>

<div class="visibility">
  <div class="listings">
    <list-directive ng-repeat="listing in listingCtrl.listings | filter: search:strict" listing="listing" data-id="{{listing.id}}" action="addToCart(listing)">
    </list-directive>

  </div>
</div>
