

<div class="header">
<h1>Crafty Cart</h1>

</div>

<div class="visibility" ng-controller="CartController">
  <div class="listings">
    <div class="total">Total Items: {{items.length}}</div>
    <article class="mainPageArticles" ng-repeat="item in items | filter: search:strict" data-id="{{item.id}}">
      <div class="contain">
        <div class="leftSide">
      <div class="listTitle"><h3 class="title">{{item.title}}</h3></div>
      <h5>${{item.price}} {{item.currency}}</h5><br>
      <button><a class="listingLinks" href="{{item.url}}">View on Etsy</a></button>
      <button><a class="listingLinks" href="#/myCart" ng-click="deleteItem(item._id)">Delete Item</a></button>
    </div>
    <div class="rightSide">
      <img class="listingImg" ng-src="{{item.img.url_170x135}}" alt="" />
    </div>
    </div>
    </article>




  </div>
</div>
